.nav-pills{
    color: #ffffff !important; /* Textová barva tlačítek */
    background-color: #ff0073 !important; /* Modrá barva pozadí tlačítek */
    border-radius: 5px; /* Zaoblení rohů */
    padding: 5px 10px; /* Prostor uvnitř tlačítek */
}

.nav-pills.active {
    background-color: #b3a400; /* Tmavší modrá pro aktivní tlačítko */
}